<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      
      <!--only show logout body if logged in-->
      <div class="modal-body" ng-if="vm.isLoggedIn()">
        <button ng-click="vm.logout()" type="button" class="btn btn-primary">Logout</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
      
      <form ng-if="!vm.isLoggedIn()">
          <div class="modal-body">
              <div class="form-group">
                <label for="username">Username</label>
                <input ng-model="vm.username" type="text" class="form-control" id="username" placeholder="Username">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input ng-model="vm.password" type="password" class="form-control" id="password" placeholder="Password">
              </div>
          </div>
          <div class="modal-footer">
            <span class="pull-left">Login or <a href="/register" onclick="$('#loginModal').modal('hide')">Register</a></span>  
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button ng-click="vm.login()" type="button" class="btn btn-primary">Login</button>
          </div>
      </form>
      
    </div>
  </div>
</div>